<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1 class="header--title">Albums</h1>
        <div class="header--nav">
            <button class="header--nav--link">List View</button>
            <button class="header--nav--link">Table View</button>
        </div>
    </div>

    <div class="sorting-buttons">
        <button id="sortByScore">Sort by Score</button>
        <button id="sortByArtist">Sort by Artist</button>
        <button id="sortByAlbum">Sort by Album Title</button>
    </div>
    <div class="album-list-container" id="albumListContainer"></div>


    <template id ="albumTemplate">
        <div class="album-row">
            <div class="album-rank"></div>
            <div class="album-image">
                <img src="img/pinkfloydanimals.jpg">
            </div>
            <div class="album-info">
                <h1 class="album-title"></h1>
                <h2 class="title"></h2>
                <div class="genre"><span></span></div>
                <p class="review-sentence"></p>
            </div>
            <div class="score"><div>8</div></div>
        </div>
    </template>
    <script src="script.js"></script>
</body>
</html>