<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>albums</h1>
    <h2>hmm:  </h2>
    <table id="album-table" class="table"></table>

    <div class="album-list-container" id="albumListContainer"></div>


    <template id ="albumTemplate">
        <div class="album-row">
            <div class="album-rank"></div>
            <div class="album-image">
                <img src="img/pinkfloydanimals.jpg">
            </div>
            <div class="album-info">
                <h1 class="album-title"></h1>
                <h2 class="title"></h2>
                <div class="genre"><span></span></div>
                <p class="review-sentence"></p>
            </div>
            <div class="score"><div>8</div></div>
        </div>
    </template>
    <script src="script.js"></script>
</body>
</html>