body {
    background-color: #d5c1f7;
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header--title {
    margin-bottom: 20px;
}

.header--nav {}

.album-list-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.album {
    display: flex;
    flex-direction: row;
    background-color: #fefefe;
    max-width: 800px;
    margin-bottom: 22px
}

.album--image {
    width: 200px;
}

.album--info {
    padding: 20px;
}

.album--title {
    font-family: 'Heebo', sans-serif;
    font-size: 38px;
}

.album--artist-title {
    text-transform: uppercase;
    font-size: 20px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.genre {
    margin-top: 10px;
}

.genre span {
    padding: 5px;
    font-size: 13px;
    background-color: #d5c1f7;
}

.album--review {
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.score {
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 50px;
}

.score div {
    background-color: #d5c1f7;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}